<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Coffee_Type_Cortado</title>

    <link rel="stylesheet" href="/css/Stylesheet.css">

</head>
<body>

<header>
    <div class="header">
        <div class="logoplace">
            <a href="/index">
                <img src="/img/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a href="/login"> Login </a></li>
            <li><a href="/createAccount"> Create Account </a></li>
        </ul>
    </div>


    <nav class="nav1">
        <ul class="menu">
            <li><a href="/coffeeType"> Coffee Type </a></li>
            <li><a href="/coffeeBrands"> Coffee Brands </a></li>
            <li><a href="/colorPanel"> Color Panel </a></li>
            <li><a href="/creatingPanel"> Creating Panel </a></li>
        </ul>
    </nav>

</header>

<nav class="navCenter">
    <div class="bodyText">

En cortado er en kompakt og balanceret kaffedrik, der består af lige dele espresso og varm mælk,
hvilket giver en intens, men samtidig afrundet smagsoplevelse. Aromaen er tydeligt præget af espressoens ristede karakter,
men blødgøres af mælkens varme og let sødlige duft, som tilsammen skaber en mere afdæmpet,
men stadig fyldig aroma med noter af chokolade og nødder. Smagen er kraftigere end i en café latte,
men mindre skarp end en ren espresso, da mælken reducerer bitterheden uden at overdøve kaffens dybde.
Den har en cremet, men ikke for luftig tekstur, fordi der kun er meget lidt skum, hvilket giver en tæt og harmonisk mundfornemmelse.
Samlet set er en cortado en velafbalanceret kaffeoplevelse,
hvor espresso og mælk mødes i en mere ligeværdig og intens, men stadig blød helhed.

    </div>
</nav>



</body>

<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a href="/aboutUs"> About us </a></li>
                <li><a href="/contactUs"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>


</html>