<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Coffee_Type</title>

    <link rel="stylesheet" href="/css/Stylesheet.css">
</head>

<body>

<header>
    <div class="header">
        <div class="logoplace">
            <a href="/index">
                <img src="/img/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a href="/login"> Login </a></li>
            <li><a href="/createAccount"> Create Account </a></li>
        </ul>
    </div>


    <nav class="nav1">
        <ul class="menu">
            <li><a href="/coffeeType"> Coffee Type </a></li>
            <li><a href="/coffeeBrands"> Coffee Brands </a></li>
            <li><a href="/colorPanel"> Color Panel </a></li>
            <li><a href="/creatingPanel"> Creating Panel </a></li>
        </ul>
    </nav>

</header>

<nav class="navCenter">
    <div class="foto">

        <a href="/americano" class="item">
            <img src="/img/coffeeImage/americano.png">
            <span>Americano</span>
        </a>

        <a href="/caféLatte" class="item">
            <img src="/img/coffeeImage/cafeLatte.png">
        </a>

        <a href="/cappuccino" class="item">
            <img src="/img/coffeeImage/cappuccino.png">
            <span>Cappuccino</span>
        </a>

        <a href="/cortado" class="item">
            <img src="/img/coffeeImage/cortado.png">
        </a>

        <a href="/espresso" class="item">
            <img src="/img/coffeeImage/macchiato.png">
        </a>

    </div>

    <p style="padding-top: 30px">

    </p>
    <div class="foto">


        <a href="/flatWhite" class="item">
            <img src="/img/coffeeImage/mocha.png">

        </a>


        <a href="/latteMacchiato" class="item">
            <img src="/img/coffeeImage/americano.png">
        </a>

        <a href="/lungo" class="item">
            <img src="/img/coffeeImage/cafeLatte.png">
        </a>


        <a href="/macchiato" class="item">
            <img src="/img/coffeeImage/macchiato.png">
        </a>

        <a href="/mocha" class="item">
            <img src="/img/coffeeImage/mocha.png">
        </a>

    </div>

</nav>

</body>

<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a href="/aboutUs"> About us </a></li>
                <li><a href="/contactUs"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>


</html>