<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Color_Panel</title>

    <link rel="stylesheet" href="/css/Stylesheet.css">
</head>

<body>
<header>

    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/img/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <nav class="nav1">
        <ul class="menu">
            <li><a th:href="@{/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/coffeeBrands}"> Coffee Brands </a></li>
            <li><a th:href="@{/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/creatingPanel}"> Creating Panel </a></li>
        </ul>
    </nav>

</header>


<div class="placing">
    <input type = "range" min = "0" max = "100" value = "50">
    <box class = "colorPanel"></box>
</div>


</body>

<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a th:href="@{/aboutUs}"> About us </a></li>
                <li><a th:href="@{/contactUs}"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>


</html>