<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Create_Account</title>

    <link rel="stylesheet" href="/css/Stylesheet.css">
</head>
<body>

<header>
    <div class="header">
        <div class="logoplace">
            <a href="/index">
                <img src="/img/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a href="/login"> Login </a></li>
            <li><a href="/createAccount"> Create Account </a></li>
        </ul>
    </div>


    <nav class="nav1">
        <ul class="menu">
            <li><a href="/coffeeType"> Coffee Type </a></li>
            <li><a href="/coffeeBrands"> Coffee Brands </a></li>
            <li><a href="/colorPanel"> Color Panel </a></li>
            <li><a href="/creatingPanel"> Creating Panel </a></li>
        </ul>
    </nav>

</header>
<main>
    <div class="login-container">
        <h2>Create Your CoffiiMe Account ☕</h2>


        <form action="/createAccount" method="post">

            <div class="input-group">
                <label for="firstname">First Name</label>
                <input type="text" id="firstname" name="firstname" required>
            </div>

            <div class="input-group">
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" required>
            </div>

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Create Account</button>

        </form>
    </div>
</main>

</body>

<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a href="/aboutUs"> About us </a></li>
                <li><a href="/contactUs"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>


</html>