<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_home</title>

    <link rel="stylesheet" href=" /public/css/Stylesheet.css">
</head>

<body>

<header>
    <div class="header">
        <div class="logoplace">
            <a href="/Index">
                <img src="/public/img/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a href="Login.html"> Login </a></li>
            <li><a href="CreateAccount.html"> Create Account </a></li>
        </ul>
    </div>


    <nav class="nav1">
        <ul class="menu">
            <li><a href="CoffeeType.html"> Coffee Type </a></li>
            <li><a href="CoffeeBrands.html"> Coffee Brands </a></li>
            <li><a href="ColorPanel.html"> Color Panel </a></li>
            <li><a href="CreatingPanel.html"> Creating Panel </a></li>
        </ul>
    </nav>


</header>


</body>


<footer>

    <div class="navbar footer-content">
        <hr class="footer-divider"/>
        <nav>
            <li><a href="AboutUs.html"> About us </a></li>
            <li><a href=""> Contact us </a></li>
            </ul>
        </nav>
    </div>


</footer>


</html>